
body, html {
	border: 0;
	padding: 0;
	margin: 0;
	min-height: 400px;
	overflow:hidden;
	background: #000000;
	color: white;
	font-family: 'Open Sans', sans-serif, Arial;
}

#map {
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}
	
#sidebar {
	margin: 10px;
	height: auto;
	max-height: 90%;
	width: 250px;
	left: 0;
	position: absolute;
	z-index: 5000;
	background: #0f1621;
	border: 2px solid #cccccc;
	border-radius: 8px;
	opacity: 0.85;
	overflow-y: auto;
}

#header {
	padding: 10px 10px 0 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#inner-sidebar {
	position:relative;
	padding: 15px 15px;
	border-radius: 8px;
	max-height: 80%;
}

.group {
	display: flex;
	align-items: center;
	justify-content: start;
	height: auto;
}

a {
	text-decoration: none;
	color: #00b6b2;
}

.otherbasemap {
	z-index: 999998; 
	background-color: #cccccc;
	border: 2px solid #cccccc;
	border-radius: 8px;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	width: 80px;
	height: 80px;
	cursor: pointer;
}




